h1 {
    display: flex;
    float: center;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

li {
    text-decoration: none;
    list-style-type: none;
}